#mc_body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mc_footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1))
}